In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('bikeshare.csv')

In [3]:
df.head()

,month,trip_duration_sec,start_station_id,start_station_name,end_station_id,end_station_name,bike_id,user_type,member_birth_year,member_gender
0,January,80825,229.0,Foothill Blvd at 42nd Ave,196.0,Grand Ave at Perkins St,4861,Subscriber,1989.0,Male
1,January,65900,4.0,Cyril Magnin St at Ellis St,134.0,Valencia St at 24th St,5506,Subscriber,1989.0,Male
2,January,62633,245.0,Downtown Berkeley BART,157.0,65th St at Hollis St,2717,Customer,1965.0,Female
3,January,44680,85.0,Church St at Duboce Ave,53.0,Grove St at Divisadero,4557,Customer,1974.0,Male
4,January,60709,16.0,Steuart St at Market St,28.0,The Embarcadero at Bryant St,2100,Customer,NaN,NaN

In [10]:
df.dropna(subset = ['start_station_id'], inplace = True)

In [11]:
df['start_station_id'].isna().sum()

0

In [13]:
df['member_gender'].nunique()

3

In [15]:
df['member_gender'].isna().sum()
df['member_gender'] = df['member_gender'].fillna('Other')

In [24]:
median_birth_year = df['member_birth_year'].median()
df['member_birth_year'] = df['member_birth_year'].fillna(median_birth_year)
df.head()

,month,trip_duration_sec,start_station_id,start_station_name,end_station_id,end_station_name,bike_id,user_type,member_birth_year,member_gender
0,January,80825,229.0,Foothill Blvd at 42nd Ave,196.0,Grand Ave at Perkins St,4861,Subscriber,1989.0,Male
1,January,65900,4.0,Cyril Magnin St at Ellis St,134.0,Valencia St at 24th St,5506,Subscriber,1989.0,Male
2,January,62633,245.0,Downtown Berkeley BART,157.0,65th St at Hollis St,2717,Customer,1965.0,Female
3,January,44680,85.0,Church St at Duboce Ave,53.0,Grove St at Divisadero,4557,Customer,1974.0,Male
4,January,60709,16.0,Steuart St at Market St,28.0,The Embarcadero at Bryant St,2100,Customer,1986.0,Other

In [25]:
##How many trips have a duration of less than 5 min (300 seconds?)
df.loc[df['trip_duration_sec'] < 300]

,month,trip_duration_sec,start_station_id,start_station_name,end_station_id,end_station_name,bike_id,user_type,member_birth_year,member_gender
12,January,272,349.0,Howard St at Mary St,60.0,8th St at Ringold St,263,Subscriber,1993.0,Male
19,January,252,121.0,Mission Playground,133.0,Valencia St at 22nd St,5257,Subscriber,1995.0,Male
31,January,193,86.0,Market St at Dolores St,73.0,Pierce St at Haight St,4809,Subscriber,1996.0,Male
34,January,129,17.0,Embarcadero BART Station (Beale St at Market St),22.0,Howard St at Beale St,1195,Subscriber,1989.0,Female
35,January,185,244.0,Shattuck Ave at Hearst Ave,254.0,Vine St at Shattuck Ave,4815,Subscriber,1994.0,Female
...,...,...,...,...,...,...,...,...,...,...
192072,January,277,120.0,Mission Dolores Park,98.0,Valencia St at 16th St,5262,Subscriber,1993.0,Male
192074,January,112,308.0,San Pedro Square,308.0,San Pedro Square,4002,Customer,1992.0,Male
192078,January,227,73.0,Pierce St at Haight St,96.0,Dolores St at 15th St,4659,Subscriber,1987.0,Male
192080,January,182,269.0,Telegraph Ave at Carleton St,240.0,Haste St at Telegraph Ave,4621,Subscriber,1999.0,Male
192081,January,226,245.0,Downtown Berkeley BART,247.0,Fulton St at Bancroft Way,5117,Customer,2000.0,Male

In [28]:
##How many rides have been taken from start station id 15 to end station id 30? 
start15 = df.loc[df['start_station_id'] == 15] 

start15.loc[start15['end_station_id'] == 30]

,month,trip_duration_sec,start_station_id,start_station_name,end_station_id,end_station_name,bike_id,user_type,member_birth_year,member_gender
1839,January,649,15.0,San Francisco Ferry Building (Harry Bridges Pl...,30.0,San Francisco Caltrain (Townsend St at 4th St),2960,Subscriber,1991.0,Female
2361,January,720,15.0,San Francisco Ferry Building (Harry Bridges Pl...,30.0,San Francisco Caltrain (Townsend St at 4th St),5535,Subscriber,1994.0,Male
3023,January,687,15.0,San Francisco Ferry Building (Harry Bridges Pl...,30.0,San Francisco Caltrain (Townsend St at 4th St),5348,Subscriber,1977.0,Male
3361,January,571,15.0,San Francisco Ferry Building (Harry Bridges Pl...,30.0,San Francisco Caltrain (Townsend St at 4th St),5332,Subscriber,1991.0,Male
3994,January,602,15.0,San Francisco Ferry Building (Harry Bridges Pl...,30.0,San Francisco Caltrain (Townsend St at 4th St),4456,Subscriber,1977.0,Male
...,...,...,...,...,...,...,...,...,...,...
180008,January,591,15.0,San Francisco Ferry Building (Harry Bridges Pl...,30.0,San Francisco Caltrain (Townsend St at 4th St),5280,Subscriber,1977.0,Male
180211,January,512,15.0,San Francisco Ferry Building (Harry Bridges Pl...,30.0,San Francisco Caltrain (Townsend St at 4th St),4962,Subscriber,1985.0,Male
180280,January,725,15.0,San Francisco Ferry Building (Harry Bridges Pl...,30.0,San Francisco Caltrain (Townsend St at 4th St),5523,Subscriber,1985.0,Female
186099,January,488,15.0,San Francisco Ferry Building (Harry Bridges Pl...,30.0,San Francisco Caltrain (Townsend St at 4th St),5377,Subscriber,1977.0,Male
189096,January,903,15.0,San Francisco Ferry Building (Harry Bridges Pl...,30.0,San Francisco Caltrain (Townsend St at 4th St),1537,Subscriber,1991.0,Male

In [46]:
##Compute the busiest route, and find how many rides have been in the busiest route 
df2 = df.groupby(['start_station_id', 'end_station_id']).sort_values(ascending = False)

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'